/* Override some defaults */
html, body {
  background-color: #eee;
}

.container-narrow > .content{
   background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.container-narrow {
  margin: 0 auto;
  max-width: 1000px; 
}

.container > footer p {
  text-align: center; /* center align it with the container */
}


/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; 
}

.content-right {
    background: url("/assets/phone.png") no-repeat no-repeat center 20px;
    height: 600px;
    background-size: 270px 570px;
}
.clearmarg {
    margin-left: 0 !important;
}
.span4 {
    width: 300px;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.slides{
    width:225px;
    height:325px !important;
    margin: 100px 0 0 30px;
}

.slides .item img{
    width:100% !important;
    height: 325px !important;
}

.slides .item{
    height:325px !important;
}

small.help-block{
  font-size:12px !important;  
  color:#999;
}


ul.featured-list{
    list-style-type:none;
}
/*ul.featured-list li {
	background: url("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/img/glyphicons-halflings.png") no-repeat scroll -120px 0;
}*/
/*
ul.featured-list li{
    margin-bottom: 5px;
    background: url(/assets/goodmaps/marker.png) no-repeat 0 6px;
    padding: 8px 10px 8px 30px;
}
*/
.btn-buy{
    margin-top:25px;
    margin-bottom:25px;
}

.btn-app i{
   background: url("/assets/goodmaps/iphone-icon.png") no-repeat 0 0;
display: inline-block;
height: 38px;
width: 38px;
float: left;
margin-top: 4px; 
}
 

strong.buy{
    font-size:19px;
    line-height: 20px;
}

.btn-xlarge{
    padding:10px 15px;
    margin-right: 20px;
}

.carousel-control.left {
	left:-75px;
}

.carousel-control.right {
	right:-75px;
}


.app {
/*    background: url("/assets/img/body-section-divider.png") repeat-x scroll center top transparent;*/
    padding-top: 20px;
}

.app li {
    background: none no-repeat scroll 0 0 transparent;
    list-style: none outside none;
    padding: 12px 26px 0 150px;
}
.app li .link {
    margin-right: 12px;
    text-align: right;
}
.app li p, #about p, #thanks p {
    color: #727272;
    font-size: 15px;
    margin: 0;
    padding: 8px 0;
}

footer {
    border-top: 1px solid #EEEEEE;
    margin-top: 17px;
    padding-top: 17px;
}